.text-center{
       text-align:center;
       font-family: cursive;
}

.utils2{
    margin:auto;
}

.utils3{
    display:flex;
}

.utils4{
    flex-direction:column;
}

.utils5{
    align-items: center;
}